div{
    width: 200px;
    height: 200px;
    position: absolute;
    line-height: 50px;
}
body{
    background-color: rgb(68, 140, 185);
    height: 1000vh;
}
.box1{
    background-color: red;
    border: solid 10px;
}
.box2{
    background-color: greenyellow;
    border: solid 10px;
    top: 50px;
    left: 70px;
}
.box3{
    background-color: rgb(0, 145, 255);
    border: solid 10px;
    top: 150px;
    left: 40px;
}
.box4{
    background-color: blue;
    border: solid 10px yellow;
    top: 100px;
    left: 200px;
}
button{
    position: fixed;
    right: 10px;
    bottom: 10px;
    border: none;
    padding: 10px 20px;
    background-color: grey;
    color: white;
    cursor: pointer;
    z-index: 10;
}
button:hover{
    background-color: blue;
    padding: 12px 22px;
}