p{
    word-spacing: 30px;
    font-weight: 900;
}
h1{
    text-shadow: 10px 10px 3px rgb(255, 0, 0);
}
h2{
    text-shadow: 1px 1px 1px rgb(17, 0, 255);
}
.box{
    line-height: 100px;
    width: 100px;
    height: 100px;
    text-align: center;
    border: 10px solid rgba(0, 0, 0, 0);
    border-image: url(border.png) 30 round;
}