div{
    text-align: center;
    color: white;
    background-color: rgb(0, 132, 255);
}
h4{
    color: rgb(0, 132, 255);
}
h3{
    color: rgb(0, 132, 255);
}
button{
    background-color: rgb(0, 132, 255);
    color: white;
}