.box{
    width: 350px;
    height: 350px;
    background: linear-gradient(45deg, red, blue, orange,  yellow, green, brown, purple, pink, cyan, lime, magenta, teal, navy, maroon, olive, silver, gray, black, white, red, lightblue);
}
.box2{
    width: 350px;
    height: 350px;
    background: linear-gradient(to left, red, yellow, blue, green, orange, purple,pink, cyan, lime, magenta, teal, navy, maroon, olive, silver, gray, black, white, red, lightblue );
}
.box3{
    width: 350px;
    height: 350px;
    background: linear-gradient(to top, red, yellow, blue, green, orange, purple,pink, cyan, lime, magenta, teal, navy, maroon, olive, silver, gray, black, white, red, lightblue);
}